// $border: 0.02em solid black;
$border: none;

*{
    margin: 0;
    padding: 0;
}

.sidebar{
    height: 100vh;
    width: 7%;
    float: left;
    position: fixed;
    // border: $border;
    background: green;
    transition: 0.5s;
    overflow: hidden;
}

.sidebar:hover{
    width: 25%;
}

.sidebarhead{
    height: 12vh;
    width: 100%;
    border: $border;
    margin-bottom: 2vh;
}

.tab{
    width: 78%;
    margin-left: 7%;
    margin-top: 1vh;
    height: 8vh;
    border: $border;
    border-radius: 1em;
    // background: black;
    background: white;
    overflow: hidden;
    line-height: 3em;
}

// .fas .far{
//     font-size: 1em;
// }
a{
    text-decoration: none;
    color: black;
}

.text{
    font-size: 1.2em;
    // text-align: center;
}

.tabactive{
    background: white;
}

.sidebartitle{
    width: 100%;
    height: 7vh;
    border: $border;
    margin-top: 2vh;
    margin-bottom: 2vh;
}

.contentpage{
    width: 90%;
    float: right;
    margin-right: 1%;
    border: $border;
    border-radius: 1em;
    height: 100vh;
    overflow-y: scroll;
}

.navbar{
    height: 8vh;
    width: 100%;
    border: $border;
    position: fixed;
    border-radius: 1em;
}

.icon{
    height: 8%;
    width: 3.5%;
    border: $border;
    margin-left: 0;
    margin-top: 0;
    padding: 0% 1%;
    border-radius: 0.5em;
    position: fixed;
    font-size: 2em;
    color: white;
    background: black;
}

$br: 1em;
$wmargin: 3%;
$hmargin: 4vh;

@mixin basic{
    border: $border;
    margin-left: $wmargin;
    margin-top: $hmargin;
    margin-bottom: $hmargin;
    border-radius: $br;
    float: left;
}

.sticker{
    @include basic;
    width: 20.9%;
    height: 10vh;
    // margin-top: calc($wmargin+$hmargin);
    margin-top: 12vh;
    box-shadow:1px 1px 30px 0px rgba(20, 0, 0, 0.2);
}

.div1{
    @include basic;
    width: 50%;
    margin-top: 0;
    height: 30vh;
    clear: both;
    box-shadow:1px 1px 30px 0px rgba(20, 0, 0, 0.2);
}

.div2{
    @include basic;
    margin-top: 0;
    width: 40%;
    height: 30vh;
    box-shadow:1px 1px 30px 0px rgba(20, 0, 0, 0.2);
}

.div3{
    @include basic;
    margin-top: 0;
    clear: both;
    width: 40%;
    height: 60vh;
    box-shadow:1px 1px 30px 0px rgba(20, 0, 0, 0.2);
}

.div4{
    @include basic;
    margin-top: 0;
    width: 50%;
    height: 60vh;
    box-shadow:1px 1px 30px 0px rgba(20, 0, 0, 0.2);
}

.div5{
    @include basic;
    margin-top: 0;
    clear: both;
    width: 60%;
    height: 70vh;
    box-shadow:1px 1px 30px 0px rgba(20, 0, 0, 0.2);
}

.div6{
    @include basic;
    margin-top: 0;
    width: 30%;
    height: 70vh;
    box-shadow:1px 1px 30px 0px rgba(20, 0, 0, 0.2);
}
