@import "fix";

$border: 0.02em solid black;
// $border: 0;
$br: 1em;
$wmargin: 3%;
$hmargin: 4vh;

@mixin basic{
    border: $border;
    margin-left: $wmargin;
    margin-top: $hmargin;
    margin-bottom: $hmargin;
    border-radius: $br;
}

.div1{
    @include basic;
    width: 94%;
    height: 80vh;
    margin-top: 12vh;
}

.div2{
    @include basic;
    width: 94%;
    height: 70vh;
    margin-top: 1vh;
}