@import "fix";

$border: 0.02em solid black;
// $border: 0;
$br: 1em;
$wmargin: 3%;
$hmargin: 4vh;

@mixin basic{
    border: $border;
    margin-left: $wmargin;
    margin-top: $hmargin;
    margin-bottom: $hmargin;
    border-radius: $br;
    float: left;
    box-shadow:1px 1px 30px 0px rgba(20, 0, 0, 0.2);
}

.div1{
    @include basic;
    height: 50vh;
    width: 100%;
    margin-left: 0;
}

.sticker{
    @include basic;
    height: 20vh;
    width: 31%;
}

.sticker1{
    margin-left: 0;
}

.div2{
    @include basic;
    margin-left: 0;
    height: 60vh;
    width: 100%;
}