@import "fix";

// $border: 0.02em solid black;
$border: 0;
$br: 1em;
$wmargin: 3%;
$hmargin: 4vh;

@mixin basic{
    border: $border;
    margin-left: $wmargin;
    margin-top: $hmargin;
    margin-bottom: $hmargin;
    border-radius: $br;
    float: left;
    box-shadow:1px 1px 30px 0px rgba(20, 0, 0, 0.2);
}

.container1{
    margin-top: 12vh;
    height: 60vh;
    width: 66%;
    border: $border;
    float: left;
}

.div1{
    @include basic;
    width: 49.99%;
    height: 34vh;
    margin-top: 0;
}

.div2{
    @include basic;
    width: 20%;
    height: 34vh;
    margin-top: 0;
    // background: black;
}

.div4{
    @include basic;
    width: 30%;
    height: 60vh;
    margin-top: 12vh;
}

.div5{
    @include basic;
    width: 97%;
    height: 21vh;
    margin-top: 0.3vh;
    // background: green;
}

.div6{
    @include basic;
    width: 50%;
    height: 90vh;
    margin-top: 1vh;
    float: left;
}

.div7{
    @include basic;
    width: 43%;
    height: 90vh;
    margin-top: 1vh;
    float: left;
}

@media only screen and (max-width: 1000px) {
    .container1{
        width: 62%;
    }
    
    .div1{
        width: 45%;
        height: 34vh;
        margin-top: 0;
    }
    
    // .div2{
    //     width: 20%;
    // }

    .div5{
        width: 92%;
    }

    .div6{
        width: 45%;
        height: 70vh;
        margin-top: 1vh;
        float: left;
    }
    
    .div7{
        width: 45%;
        height: 70vh;
    }
}