@import "common";

// *{
//     margin: 0;
//     padding: 0;
//     font-family: 'Poppins', sans-serif;
// }

// .sidebar{
//     height: 100vh;
//     width: 20%;
//     position: fixed;
//     float: left;
//     background: green;
//     overflow-y: scroll;
// }

// .profile{
//     height: 4vh;
//     width: 100%;
//     // width: 20%;
//     // position: fixed;
//     background: brown;
//     font-size: 2em;
//     text-align: center;
//     padding: 1em 0;
//     font-weight: bold;
// }

// .signout{
//     height: 10vh;
//     width: 100%;
//     // width: 20%;
//     // margin-top: 10vh;
//     // position: fixed;
//     background: black;
//     margin-bottom: 3vh;
// }

// .signout button{
//     height: 8vh;
//     margin-top: 1vh;
//     width: 80%;
//     margin-left: 10%;
//     font-size: 1em;
//     border-radius: 0.5em;
// }

// .sideopt{
//     height: 5vh;
//     width: 100%;
//     margin-top: 2vh;
//     text-align: center;
//     background: white;
//     font-size: 1.5em;
// }

// .sidebar a{
//     text-decoration: none;
//     color: black;
// }

// .content{
//     float: right;
//     overflow-y: scroll;
//     height: 100vh;
//     width: 80%;
//     background: black;
// }

.div1{
    background: white;
    height: 70vh;
    width: 80%;
    margin-left: 10%;
    margin-top: 5vh;
    border-radius: 1em; 
    overflow-y: scroll;
    box-shadow: $bs;
}

// .div1 .heading{
//     background: green;
//     height:8vh;
//     width: 95%;
//     margin-left: 2.5%;
//     font-size: 1.5em;
//     font-weight: bold;
// }

// .div1 .heading hr{
//     font-weight: lighter;
//     width: 100%;
//     // margin-left: 2.5%;
// }

.div1 .addbutton{
    height: 5vh;
    width: 95%;
    margin-left: 2.5%;
    // background: pink;
    text-align: right;
    padding: 1.2em 0;
    // box-shadow: $bs;
}

.div1 .addbutton button{
    // margin-right: 2%;
    height: 5vh;
    width: 25%;
    border-radius: 0.5em;
}

.div1 table{
    width: 95%;
    margin-left: 2.5%;
}
.div1 table .id{
    width: 5%;
}

.div1 table .name{
    width: 35%;
}

.div1 table .email{
    width: 45%;
}

.div1 table .action{
    width: 15%;
}

.div1 table th{
    text-align: left;
    // border: 0.02em solid black;
}

.div1 table button{
    border-radius: 0.2em;
    width: 30%;
}