@import "common";

.div1{
    background: white;
    height: 90vh;
    width: 90%;
    margin-left: 5%;
    margin-top: 5vh;
    border-radius: $br; 
    overflow-y: scroll;
    box-shadow: $bs;
}

.div1 .addbutton{
    height: 5vh;
    width: 95%;
    margin-left: 2.5%;
    // background: pink;
    text-align: right;
    padding: 1.2em 0;
    // box-shadow: $bs;
}

.div1 .addbutton button{
    // margin-right: 2%;
    height: 5vh;
    width: 20%;
    border-radius: $br;
    background: $gradient;
    color: white;
    border: none;
}

.div1 table{
    width: 95%;
    margin-left: 2.5%;
}

.div1 table th{
    border-bottom: 0.02em solid black;
}

.div1 table td{
    height: 7vh;
    border-bottom: 0.05em solid rgba(128, 125, 125,0.2);
}

.div1 table .id{
    width: 5%;
}

.div1 table .name{
    width: 35%;
}

.div1 table .email{
    width: 45%;
}

.div1 table .action{
    width: 15%;
}

.div1 table th{
    text-align: left;
    // border: 0.02em solid black;
}

.div1 table button{
    border-radius: $br;
    width: 30%;
    height: 5vh;
}

// .info{
//     background: $p1;
//     color: white;
//     border: none;
// }

// .edit{
//     background: $p2;
//     color: white;
//     border: none;
// }

// .delete{
//     background: $p3;
//     color: white;
//     border: none;
// }

@media only screen and (max-width: 970px){
    .div1{
        width: 95%;
        margin-left: 2.5%;
    }
}

@media only screen and (max-width: 750px){
    .div1 .addbutton button{
        width: 30%;
    }
}

@media only screen and (max-width: 500px){
    .div1 .addbutton button{
        width: 40%;
    }
}