@import "common";

$stickerbg:radial-gradient(circle, rgba(242,2,134,1) 0%, rgba(196,18,160,1) 50%, rgba(136,36,194,1) 100%);

.sticker{
    height: 15vh;
    width: 18.7%;
    // background: black;
    background: white;
    // background: $stickerbg;
    // color: white;
    margin-left:5%; 
    margin-top: 5vh;
    float: left;
    border-radius: $br;
    box-shadow: $bs;
}

.text{
    width: 100%;
    // background: brown;
    height: 15vh;
    float: left;
}

.title{
    height: 6.5vh;
    margin-top: 1vh;
    // background: pink;
    width: 100%;
    text-align: center;
    font-weight: bold;
    font-size: 1.1em;
}

.number{
    height: 7vh;
    // background: blue;
    width: 100%;
    text-align: center;
    font-weight: bold;
    font-size: 1.3em;
}

// .pic{
//     width: 35%;
//     background: green;
//     height: 15vh;
//     float: right;
// }

.div1{
    background: white;
    height: 70vh;
    width: 43%;
    margin-left: 5%;
    margin-top: 5vh;
    border-radius: $br; 
    overflow-y: scroll;
    box-shadow: $bs;
    float: left;
}

.div1 table{
    width: 95%;
    margin-left: 2.5%;
}

.div1 table th{
    border-bottom: 0.02em solid black;
}

.div1 table td{
    height: 7vh;
    border-bottom: 0.05em solid rgba(128, 125, 125,0.2);
}

.div1 table .id{
    width: 5%;
}

.div1 table .name{
    width: 35%;
}

.div1 table .email{
    width: 45%;
}

.div1 table .action{
    width: 15%;
}

.div1 table th{
    text-align: left;
    // border: 0.02em solid black;
}

// @media only screen and (max-width: 890px){
//     .icon{
//         margin-right: 0;
//     }
//     .sideopt{
//         font-size: 1em;
//     }
// }

@media only screen and (max-width: 600px){
    .sticker{
        width: 43%;
    }

    .div1{
        width: 91%; 
    }
}

@media only screen and (max-width: 300px){
    .sticker{
        width: 90%;
    }
}