* {
  margin: 0;
  padding: 0;
  font-family: 'Poppins', sans-serif;
}

.sidebar {
  height: 100vh;
  width: 20%;
  position: fixed;
  float: left;
  background: #F8F9FA;
  overflow-y: scroll;
  -webkit-box-shadow: 1px 1px 30px 0px rgba(20, 0, 0, 0.2);
          box-shadow: 1px 1px 30px 0px rgba(20, 0, 0, 0.2);
}

.profile {
  height: 4vh;
  width: 100%;
  font-size: 1.2em;
  text-align: center;
  padding: 1em 0;
  font-weight: bold;
}

.signout {
  height: 8vh;
  width: 100%;
  margin-bottom: 3vh;
}

.signout button {
  height: 7vh;
  margin-top: 1vh;
  width: 70%;
  margin-left: 15%;
  font-size: 1em;
  border-radius: 0.5em;
  -webkit-box-shadow: 1px 1px 30px 0px rgba(20, 0, 0, 0.2);
          box-shadow: 1px 1px 30px 0px rgba(20, 0, 0, 0.2);
  background: linear-gradient(135deg, #f20286 0%, #c412a0 50%, #8824c2 100%);
  color: white;
  border: none;
  cursor: pointer;
}

.sideopt {
  height: 5vh;
  width: 100%;
  margin-top: 2vh;
  font-size: 1.3em;
}

.sideopt:hover {
  background: white;
}

.activetab {
  -webkit-box-shadow: 1px 1px 30px 0px rgba(20, 0, 0, 0.2);
          box-shadow: 1px 1px 30px 0px rgba(20, 0, 0, 0.2);
  color: grey;
}

.activetab .icon {
  color: #c412a0;
}

.sidebar a {
  text-decoration: none;
  color: black;
}

.icon {
  margin-left: 5%;
  margin-right: 2%;
}

.content {
  float: right;
  overflow-y: scroll;
  height: 100vh;
  width: 80%;
  background: #F8F9FA;
}

.heading {
  height: 8vh;
  width: 95%;
  margin-left: 2.5%;
  font-size: 1.5em;
  font-weight: bold;
  margin-top: 3vh;
}

.heading hr {
  font-weight: lighter;
  width: 100%;
}

.info {
  background: #f20286;
  color: white;
  border: none;
  cursor: pointer;
}

.edit {
  background: #c412a0;
  color: white;
  border: none;
  cursor: pointer;
}

.delete {
  background: #8824c2;
  color: white;
  border: none;
  cursor: pointer;
}

@media only screen and (max-width: 915px) {
  .profile {
    height: 8vh;
  }
}

@media only screen and (max-width: 890px) {
  .icon {
    margin-right: 0;
  }
  .sideopt {
    font-size: 1em;
  }
}

@media only screen and (max-width: 660px) {
  .icon {
    display: none;
  }
}

.div1 {
  width: 90%;
  margin-left: 5%;
  height: 90vh;
  background: white;
  -webkit-box-shadow: 1px 1px 30px 0px rgba(20, 0, 0, 0.2);
          box-shadow: 1px 1px 30px 0px rgba(20, 0, 0, 0.2);
  margin-top: 5vh;
  border-radius: 0.5em;
  overflow-y: scroll;
}

.addnew {
  height: 7vh;
  width: 95%;
  margin-left: 2.5%;
}

.searchbar {
  height: 5vh;
  width: 30%;
  border-radius: 0.5em;
  overflow: hidden;
  float: left;
  border: 0.02em solid black;
}

.addnew .searchbar input {
  float: left;
  height: 5vh;
  width: 85%;
  border: none;
  outline: none;
}

.addnew .searchbar i {
  font-size: 1.5em;
}

.addnew button {
  float: right;
  height: 5vh;
  width: 20%;
  border-radius: 0.5em;
  border: none;
  background: linear-gradient(135deg, #f20286 0%, #c412a0 50%, #8824c2 100%);
  color: white;
  cursor: pointer;
}

table {
  width: 95%;
  margin-left: 2.5%;
}

th {
  text-align: left;
  border-bottom: 0.02em solid black;
}

.div1 table button {
  border-radius: 0.5em;
  width: 30%;
  height: 5vh;
}

.div1 table td {
  height: 7vh;
  border-bottom: 0.05em solid rgba(128, 125, 125, 0.2);
}

.div1 {
  height: 60%;
}
/*# sourceMappingURL=tab11.css.map */